.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;
}

.popup-contenido {
    background: white;
    padding: 0 20px;
    border-radius: 10px;
    text-align: left;
}

.popup-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.popup-header .titulo {
    font-weight: bold;
}

.popup-header .boton-cerrar {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-body {
    padding-bottom: 0.5rem;
}

.popup-body img {
    max-width: 600px;
    max-height: 600px;
    border-radius: 0.5rem;
}